---
layout: default
---

<main class="bg-purple header" role="main">
  <header class="container-lg p-responsive">
    {% include header.html %}
    <div class="pb-6 d-flex flex-items-center flex-justify-center flex-column">
      <div class="umbrella-wrapper mb-2">
        {% include umbrella.svg %}
      </div>
      {% include GitHub.svg %}
      <code class="h1 text-white">Field Day</code>
    </div>
  </header>
  {% include squiggle-white.svg %}
</main>

<div class="container-md p-responsive py-6 d-flex flex-items-center flex-justify-center flex-column mb-2">
  <h2 class="alt-h2 lh-condensed my-3 text-center">An unconference for leaders of technical student communities</h2>
  <p class="py-2 text-center"><strong>January 2018</strong> at UCLA in Los Angeles</p>
  <p class="py-2 text-center">Hosted by <a href="www.ucladevx.com"><strong>DevX</strong></a></p>
  <a href="https://githubfieldday.me/ " class="btn btn-outline btn-outline-purple mt-3">Apply here! ☂️</a>
</div>

<div class="container-md mb-6 p-responsive text-center py-6 d-flex flex-items-center flex-justify-center flex-column">
  <h2 class="alt-h2 lh-condensed mb-3 text-center">A day of discussions</h2>
  <p class="alt-h3 mb-3 text-center">Field Day brings together a group of student leaders for a day of conversation in the form of lightning talks, discussions, games, or whatever suits the topic best.</p>
</div>

<div class="container-lg mx-auto mb-6 p-responsive py-6 gutter d-block d-sm-flex flex-wrap flex-items-center">
  <div class="col-6 mx-auto mx-sm-0 mb-4 mb-sm-0 col-sm-5">
    <div class="keynote-img">
      <img class="border-radius" src="{{ site.baseurl }}/assets/gm.jpeg" alt="Gregor Martynus">
    </div>
  </div>
  <div class="col-12 col-sm-7 text-center text-sm-left">
    <h4 class="alt-h4">Keynote</h2>
    <h2 class="alt-h2 lh-condensed mb-3">Gregor Martynus</h2>
    <p>Gregor is an LA based software engineer and community manager with over
       15 years of experience. He is passionate about creating spaces for welcoming
        tech communities. He is currently managing communities such as <a href="hood.ie">Hoodie</a>,
         <a href="offlinefirst.org">Offline First</a> as well as several popular
        used Open Source projects. He is currently helping GitHub to build out
        the Octokit developer program <a>https://developer.github.com/v3/libraries</a>.
    </p>
  </div>
</div>

<div class="container-md p-responsive py-6" id="schedule">
  <h1 class="text-center">Schedule</h1>

  <table class="data-table">
    <tbody>
      <tr><td><time>10:00</time> am</td><td>Registration Opens</td></tr>
      <tr><td><time>11:00</time> am</td><td>Welcome to Field Day!</td></tr>
      <tr><td><time>11:15</time> am</td><td>Keynote: Gregor Martynus</td></tr>
      <tr><td><time>12:00</time> pm</td><td>Icebreakers</td></tr>
      <tr><td><time>12:30</time> pm</td><td>Breakout Discussions I</td></tr>
      <tr><td><time>1:00</time> pm</td><td>Breakout Discussions II</td></tr>
      <tr><td><time>1:30</time> pm</td><td>Lunch</td></tr>
      <tr><td><time>2:15</time> pm</td><td>Breakout Discussions III</td></tr>
      <tr><td><time>2:15</time> pm</td><td>Campus Expert Fireside Chat</td></tr>
      <tr><td><time>2:45</time> pm</td><td>Breakout Discussions IV</td></tr>
      <tr><td><time>3:15</time> pm</td><td>Breakout Discussions V</td></tr>
      <tr><td><time>3:45</time> pm</td><td>Feedback Round</td></tr>
      <tr><td><time>4:15</time> pm</td><td>Closing Remarks</td></tr>
      <tr><td><time>4:30</time> pm</td><td>Goodbye! :(</td></tr>
    </tbody>
  </table>
</div>

<div class="container-lg mb-6 p-responsive py-6 d-flex flex-items-center flex-sm-justify-between flex-justify-center text-center text-sm-left" id="venue">
  <address class="addr mono">
    <h2 class="alt-h2 lh-condensed mb-2">UCLA</h3>
      Carnesale Commons</br>
      251 Charles E Young Drive West</br>
      Los Angeles, CA 90095
  </address>
  <div class="map-container">
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13219.593155624236!2d-118.4497337!3d34.0721215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x356ebc68e41eebf5!2sCarnesale+Commons!5e0!3m2!1sen!2sus!4v1504213251099" allowfullscreen>
    </iframe>
  </div>
</div>

<div class="py-6 p-responsive mt-2 bg-gray-light" id="faq">
  <div class="container-md">
    <h3 class="text-center">FAQ</h3>

    {% for faq in site.faqs %}
      <div class="py-3" id="{{ faq.q | slugify }}">
        <h4 class="mb-1"><a href="#{{ faq.q | slugify }}" class="text-purple">{{faq.q}}</a></h4>
        <p>{{ faq.a }}</p>
      </div>
    {% endfor %}

  </div>
</div>
